<section class="row report-list">
    {{#this}}
    <div class="box-item col-sm-1" data-report-id="{{id}}" data-etc="{{etc}}">
        <h3>{{name}}</h3>
        <div class="force-hidden"><span>점수</span> : <span>{{score}}</span></div>
        <div><span><a href="r/{{id}}/" target="_blank" data-event-click="viewReport(e)">결과물 보기</a></span></div>
        <p class="etc-area"></p>
    </div>
    {{/this}}
</section>
<article class="report-playground row"></article>